openapi: 3.0.0
info:
  title: LangBang OpenAPI specification
  version: 1.0.0
servers:
  - url: http://localhost:5000/api
    description: Dev server
paths:
  /register:
    post:
      summary: User registration
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User created successfully
                  user:
                    type: object
        '500':
          description: Server error
  /login:
    post:
      summary: User login
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: User logged in successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                type: object
  /languages:
    get:
      summary: Get all languages
      tags:
        - Languages
      responses:
        '200':
          description: Languages fetched successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  languages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Language'
    post:
      summary: Add new language
      tags:
        - Languages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Language'
      responses:
        201:
          description: Login created successfully
          content:
            application/json:
              schema:
                type: object
        409:
          description: Language code already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
components:
  schemas:
    RegisterRequest:
      type: object
      required:
        - username
        - email
        - password
      properties:
        username:
          type: string
          example: student123
        email:
          type: string
          format: email
          example: student@gmail.com
        password:
          type: string
          format: password
          example: securePassword123!@#
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
    Language:
      type: object
      required:
        - id
        - code
        - name
      properties:
        id:
          type: integer
          example: 1
        code:
          type: string
          example: en
        name:
          type: string
          example: English

