openapi: 3.0.0
info:
  title: LangBang OpenAPI specification
  version: 1.0.0
servers:
  - url: http://localhost:5000/api
    description: Dev server
paths:
  /register:
    post:
      summary: User registration
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - email
                - password
              properties:
                username:
                  type: string
                  example: student123
                email:
                  type: string
                  format: email
                  example: student@gmail.com
                password:
                  type: string
                  format: password
                  example: securePassword123!@#
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User created successfully
                  user:
                    type: object
        '500':
          description: Server error
  /login:
    post:
      summary: User login
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: User logged in successfully
          content:
            application/json:
              schema:
                type: object
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                type: object