openapi: 3.0.0
info:
  title: LangBang OpenAPI specification
  version: 1.0.0
servers:
  - url: http://localhost:5000/api
    description: Dev server
paths:
  /register:
    post:
      summary: User registration
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User created successfully
                  user:
                    type: object
        '500':
          description: Server error
  /login:
    post:
      summary: User login
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: User logged in successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /languages:
    get:
      summary: Get all languages
      tags:
        - Languages
      responses:
        '200':
          description: Languages fetched successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  languages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Language'
    post:
      summary: Add new language
      tags:
        - Languages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Language'
      responses:
        201:
          description: Login created successfully
          content:
            application/json:
              schema:
                type: object
        409:
          description: Language code already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /courses:
    get:
      summary: Get all courses
      tags:
        - Courses
      responses:
        "200":
          description: Successfully fetched courses
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    course:
                      $ref: '#/components/schemas/Course'
                    language:
                      $ref: '#/components/schemas/Language'


    post:
      summary: Create a new user
      tags:
        - Courses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Course"
      responses:
        201:
          description: Course created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Course created successfully
                  course:
                    $ref: "#/components/schemas/Course"
        400:
          description: Bad request - invalid data or database error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        409:
          description: Conflict - resource with unique field already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /lessons:
    post:
      summary: Create a new lesson
      tags:
        - Lessons
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lesson"
      responses:
        201:
          description: Lesson created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Lesson created successfully
                  lesson:
                    $ref: "#/components/schemas/Lesson"
        400:
          description: Bad request - invalid data or database error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        409:
          description: Conflict - resource with unique field already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /courses/{id}/lessons:
    get:
      summary: Get all lessons of a course
      tags:
        - Lessons
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Successfully fetched lessons
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Lesson"
components:
  schemas:
    RegisterRequest:
      type: object
      required:
        - username
        - email
        - password
      properties:
        username:
          type: string
          example: student123
        email:
          type: string
          format: email
          example: student@gmail.com
        password:
          type: string
          format: password
          example: securePassword123!@#
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
    Language:
      type: object
      required:
        - id
        - code
        - name
      properties:
        id:
          type: integer
          example: 1
        code:
          type: string
          example: en
        name:
          type: string
          example: English
    Course:
      type: object
      required:
        - title
        - level
        - language_id
      properties:
        title:
          type: string
          example: "English A1: Basics"
        description:
          type: string
        language_id:
          type: integer
          example: 1
        level:
          type: string
          enum: [ A1, A2, B1, B2, C1, C2 ]
          example: "A1"
    Lesson:
      type: object
      required:
        - course_id
        - title
        - sequence
      properties:
        course_id:
          type: integer
          example: 1
        title:
          type: string
          example: "Lesson 1"
        description:
          type: string
          example: "Lesson 1 description"
        sequence:
          type: integer
          example: 1
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        error:
          type: string

